@import '../../mixins.module.scss';

$ratio : 1.2;

.Modal {
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left:0;
    z-index: 99;
    section {
        background-color: rgb(240, 240, 240);
        position: relative;
        @include if-mobile {
            width: 90vw;
            height: calc(90vw / 1.618);
            .i {
                font-size: 3rem;
            }
        }
        width: 75vw;
        height: calc(75vw / 1.618);
        header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 10%;
            h5 {
                @include if-mobile {
                    font-size: calc(1.5vw * #{$ratio});
                }
                font-size: 1.5vw;
            }
            p {
                @include if-mobile {
                    display: none;
                }
                font-size: 1vw;
                line-height: normal;
            }
            i {
                position: absolute;
                right: 1%;
                top:1%;
                font-size: 2.083vw;
                color: #777;
                @include if-mobile {
                    font-size:calc(2.083vw * #{$ratio});
                }
                transition: 0.3s;
                &:hover {
                    cursor: pointer;
                    color: black;
                    transform: scale(1.2) translate(0%, 0%);
                }
            }
        }
        .Gallary {
            display: flex;
            height: 80%;
            i {
                position: absolute;
                top:50%;
                color: #777;
                @include if-mobile {
                    font-size: calc(2.6041vw * #{$ratio})
                }
                font-size: 2.6041vw;
                transform: translate(0%, -50%);
                transition: 0.3s;
                &:hover {
                    cursor: pointer;
                    transform: translate(0%, -50%) scale(1.2);
                    color:  black
                }
            }
            .Slide {
                text-align: center;
                background-color: white;
                width: 100%;
                height: 100%;
                overflow: hidden;
                img {
                    height: inherit;
                    object-fit: contain;
                }
            }
        }
        footer {
            background-color: rgb(240, 240, 240);
            display: flex;
            align-items: center;
            justify-content: center;
            height: 10%;
            button {
                @include if-mobile {
                    width:calc(6vw * #{$ratio});
                    height:calc(6vw * #{$ratio} / 1.5);
                }
                width:6vw;
                height:calc(6vw / 1.5);
                margin-left:3px;
                margin-right:3px;
                line-height: 0;
                padding: 0;
                img {
                    width: 100%;
                    height: 100%;
                    box-shadow: 0 1px 3px 0 grey;
                    transition: .3s;
                    &:hover {
                        cursor: pointer;
                        box-shadow: 0 2px 5px 2px gray;
                        transform: scale(1.05);
                    }
                }
            }
            .CurrentImage {
                border: 3px solid #888;
            }
        }
    }
}