@import '../../mixins.module.scss';

.Footer {
    div {
        text-align: center;
        img {
            height: 5rem;
            -webkit-filter: grayscale(100%);
            opacity: 30%;
            
        }
    }
} 
