
@import './mixins.module.scss';

* {
    box-sizing: border-box;
    margin: 0px;
    line-height: 2;
    word-spacing: 3px;
}

html {
    @media all and (max-width: 1023px) {
        font-size: 8px;
    }
    font-size: 10px;
}

h1{ // 이름
    @include font(black, normal, 500, 4rem);
    line-height: 1.2;
}

h2 { // subject
    margin-top: 20px;
    margin-left: 0.2rem;
    @include font(#444, normal, 300, 3rem);
    @include media-text-align();
}

h3 { // 직업
    @include font(#666, normal, 200, 2rem);
    line-height: normal;
}

h5 { // 날짜 
    @include font(black, normal, 500, 2rem);
    line-height: normal;
}

a { // 링크
    @media all and (max-width: 1023px) {
        display: none;
    }
    display: initial;
    @include font(#888, italic, 300, 1.5rem);
    text-decoration: none;
    word-spacing: 4px;
    &:hover {
        color:black;
    }
}

p { // 부제목
    @include font(#888, normal, 300, 1.5rem);
    @include media-text-align();
    margin-top: -5px;
}

li {
    @include font(#444, normal, 400, 1.5rem);
    text-align: initial;
}

embed {
    position: absolute;
    width:100%;
    height: 100%;
}