@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');

@mixin font($color, $style, $weight, $size) {
  color: $color;
  font: {
    display: swap;
    family: 'IBM Plex Sans Arabic', 'IBM Plex Sans KR', sans-serif;
    style: $style;
    weight: $weight;
    size: $size;
  }
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.resume {
  width: 1300px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  margin: 0px;
  line-height: 2.7;
}
html {
  font-size: 10px;
}
h1{
  margin-top: 2rem;
  line-height: 0.8;
  @include font(black, normal, 500, 4.5rem);
}
h2 {
  margin-top: 3px;
  margin-left: 0.2rem;
  margin-bottom: -5px;
  @include font(#444, normal, 500, 4rem);
}
h3 {
  line-height: normal;
  @include font(#666, normal, 400, 3.5rem);
}
h5 {
  @include font(black, normal, 400, 3rem);
}
.border_top{
  width:170px;
  border-top: 2px solid black;
}
.border_bot{
  border-top: 1px solid gray;
}
.width_left {
  width: 30%;
}
.width_right {
  width: 70%;
  .ImageView {
    width: 100px;
    height: 75px;
    margin-right: 10px;
    &:hover {
      cursor: pointer;
    }
    margin-top: 5px;
  }
}
header {
  div {
    overflow: hidden;
    width: 100%;
    text-align: center;
    img {
      margin-top: 10px;
      border-radius: 50%;
      height: 30rem;
      box-shadow: 0 0 5px 5px gray;
    }
    a {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }
}
.Wrapper {
  overflow: hidden;
  width: 100%;
  margin-bottom: 30px;
  .width_left {
    width: 30%;
    float:left;
    p {
      @include font(gray, italic, 500, 1.5rem);
      margin-top :-2.5rem;
    }
  }
  .width_right {
    width: 70%;
    float:left;
    h5 {
      text-align: left;
    }
    li {
      @include font(black, normal, 400, 1.65rem);
    }
    p {
      @include font(#777, italic, 500, 1.5rem);
      text-align: left;
      margin-top: -2.5rem;
    }
    .keyword {
      @include font(#333, normal, 300, 1.5rem);
      display: inline-block;
      margin: 0.5rem 0.5rem 0.5rem 0;
      padding: 1px 6px;
      background-color: rgb(239, 239, 239);
      line-height: normal;
      box-shadow: 0 1px 3px 0 gray;
      margin-bottom: 5px;
    }
    .details {
      list-style: none;
      details {
          margin-left: -19px;
          @include font(gray, normal, 300, 1.5rem);
          summary {
              &:hover {
                  @include font(black, normal, 300, 1.5rem);
                  cursor: pointer;
              }
          }
          &[open] {
              @include font(black, normal, 300, 1.5rem);
          }
      }
    }
  }
}
.Skill {
  overflow: hidden;
  width: 100%;
  .Category {
    width: 33.3333%;
    float: left;
    div {
      width: 100%;
      span {
        display: inline-block;
        width: 33.33333%;
      }
    }
  }
}
.contact {
  padding: 5px;
  height: 80px;
}
.SpinButton {
  display: inline-block; // inline 엘리먼트 사용 시 width, height 무시 -> 컨텐츠 공간만큼, marign, padding 상하 반영 x
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  text-align: center; // 수평정렬
  color: white;
  i {
    font-size: 2.5rem; // 폰트어썸(마크를 글자취급)
    line-height: 3.5rem; // 수직정렬(글자 높이)
    transition: 0.5s;
  }
  &::before {
    box-sizing: inherit;
    content: '';
    position:absolute;
    top:0;
    left:0;
    color: black;
    width: inherit;
    height: inherit;
    z-index: -1;
    border-radius: 50%;
    box-shadow: inset 0 0 0 20px #777;
    transition: 0.5s;
  }
  &:hover {
    cursor: pointer;

    &::before {
      border: 2px solid white;
      border-top: 2px solid black;
      box-shadow: inset 0 0 0 2px black;
      animation: {
        name: spin;
        duration: 1s;
        iteration-count: infinite;
        timing-function: linear;
      }
    }
    i {
      color: black;
    }
  }
}
.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  section {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 95%;
    background-color: rgb(224,224,224);
    transform: translate(-50%, -50%);
    header {
      height: 10%;
      text-align:center;
    }
    div {
      height: 80%;
      .Arrow {
        float: left;
        width: 5%;
        height: 100%;
        background-color: white;
        color: rgb(100,100,100);
        font-size: 5rem;
        text-align: center;
        padding: 300px 0
      }
      .Gallary {
        float: left;
        width: 90%;
        height: 100%;
        background-color: white;
        img {
          width: 90%;
          height: 100%;
          object-fit:contain;
        }
      }
      img {
        display: block; margin: 0px auto;
      }
    }
    footer {
      background-color: rgb(224,224,224);
      height: 10%;
      text-align: center;
      button {
        width:10%;
        height:100%;
        margin-left:10px;
        margin-right:10px;
        img{        
          width:100%;
          height:100%;
        }
      }
      .CurrentImage {
        border: 3px solid #888;
      }

    }
  }
}

embed {
  position: absolute;
  width:100%;
  height: 100%;
}

// before

// position (static, fixed, relative, absolute)

// relative (내가 원래 있어야할 위치를 기준으로 움직여)
// top:100px -> 내가 원래 있어야할곳에ㅐ서 위로 100
// left:100px -> 

// absolute (static이 아닌 상위 객체의 위치값을 가지고 거기에 위치)
// top:100px 부모 객체에서 좌표값으로 y값이 100px로 가겠다.
// left:100px 부모 객체에서 x좌표값을 100px로 가겠다.

