@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');
@import './mixins.module.scss';

.border_top{
    width:170px;
    border-top: 2px solid black;
    @media all and (max-width: 1023px) {
        margin: 0 auto;
        width: 180px;
    }
    width: 300px;
}

.border_bot{
    border-top: 1px solid gray;
}

.resume {
    @include media-size(90%, 1200px);
    margin: 0 auto; // 중앙정렬
    .Main {
        .Wrapper {
            display: flex;
            @include media-flex-direction();
            margin-bottom: 30px;
            word-break: break-all;
            .width_left {
                @include media-size(100%, 30%);
                @include media-text-align();
            }
            .width_right {
                width: 70%;
                @include media-size(100%, 70%);
                @include media-text-align();
                ul {
                    @media all and (max-width: 1023px) {
                        padding-inline-start: 20px;
                    }
                    padding-inline-start: 40px;
                }
                .ImageView {
                    @include size(100px, 75px);
                    margin: 5px 10px 0 0;
                    box-shadow: 0 1px 3px 0 grey;
                    transition: .3s;
                    &:hover {
                        cursor: pointer;
                        box-shadow: 0 2px 5px 2px gray;
                        transform: scale(1.05);
                    }
                }
                .keyword {
                    @include font(#333, normal, 300, 1.5rem);
                    display: inline-block;
                    margin: 0.5rem 0.5rem 0.5rem 0;
                    padding: 1px 6px;
                    background-color: rgb(239, 239, 239);
                    line-height: normal;
                    box-shadow: 0 1px 3px 0 gray;
                    margin-bottom: 5px;
                }
                .details {
                    list-style: none;
                    details {
                        margin-left: -19px;
                        summary {
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}









// before

// position (static, fixed, relative, absolute)

// relative (내가 원래 있어야할 위치를 기준으로 움직여)
// top:100px -> 내가 원래 있어야할곳에ㅐ서 위로 100
// left:100px -> 

// absolute (static이 아닌 상위 객체의 위치값을 가지고 거기에 위치)
// top:100px 부모 객체에서 좌표값으로 y값이 100px로 가겠다.
// left:100px 부모 객체에서 x좌표값을 100px로 가겠다.

